.container {
  /* min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 100vw;
  background-color: rgb(0, 0, 200);
}

.row {
  display: flex;
  flex-direction: row;
  width:80%;
  margin:3rem auto 0 auto;
}

.gridFullSize {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100vw;
  background-color: rgb(0, 0, 180);
  padding:0 1rem;
}

.gridFlex {
  width:80%;
  flex-wrap: wrap;
  display: flex;
  align-self: center;
  margin:0 auto;
  /* border-bottom-width: 1px;
  border-bottom-color: #ffffff; */
}

.gridContainer {
  width:80%;
  align-self: center;
  display: block;
}

.Flex {
  width:80%;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.FlexHighlight {
  width:80%;
  display: flex;
  flex-direction: row;
  align-self: center;
  border-radius: 12px;
  padding: 2rem 2rem 0 2rem;
  background-color: #FFAFC8;
  /* background-color: rgba(255, 255, 255, 0.1) */
}

.FlexLeft {
  width:50%;
}

.FlexLeftDesktop {
  width:50%;
}

.FlexLeftMobile {
  display: none;
}

.FlexRight {
  width:50%;
}


.Line {
  width:100%;
  height: 1px;
  background-color: #ffffff;
  margin-top: 12px;
}

.gridLeft {
  display: flex;
  flex-direction: row;
}

.gridLeftLogo {
  /* padding-left: 1rem; */
  align-self: flex-start;
}

.gridLeftText {
  /* padding-left: 1rem; */
  align-self: flex-start;
}

.gridRight {
  width:10%;
  align-items: flex-end;
  justify-content: flex-end;
}

.gridCenter {
  width:70%;
  align-items: flex-start;
  justify-content: flex-start;
}


.ButtonContainer {
  margin-top: 1.5rem;
}


.Button {
  /* width: 240px;
  height: 4rem; */
  padding:.5rem 2rem;
  font-size: 1rem;
  text-align: left;
  background-color: #fff;
  border-radius:24px;
  color: rgb(0, 0, 200);
  font-family: "Heavy";
}


.textSlogan {
  font-size: 1.5rem;
  text-align: left;
  color: #ffffff;
  font-family: "Light";
  padding-left:.5rem;
}

.textLogo {
  font-size: 4rem;
  text-align: left;
  color: #ffffff;
  font-family: "Heavy";
  padding-left:.5rem;
}

.textSmall {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
  font-family: "Light";
}

.textSmallLink {
  font-size: 12px;
  text-align: left;
  color: #ffffff;
  font-family: "Light";
  cursor: pointer;
}

.grid {
  flex:1;
  flex-direction: row;
  padding:1rem
}



.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color:rgb(0, 0, 180);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footerLeft {
  padding-right: 1rem;
}

.footerSeparator {
  display: block;
  padding-right: 1rem;
}

.footerRight{
  width: 50%;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: left;
  color: #ffffff;
  font-family: "Heavy";
  letter-spacing: -1px;
}

.subtitle {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  color: #ffffff;
  font-family: "Light";
}

.titleDark {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  text-align: left;
  color:rgb(0, 0, 200);
  font-family: "Heavy";
  letter-spacing: -2px;
}

.subtitleDark {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  color:rgb(0, 0, 200);
  font-family: "Light";
}


.titleSection {
  font-size: 1.5rem;
  text-align: left;
  color: #ffffff;
  font-family: "Heavy";
  margin-bottom: 1rem;
}

.textDownload {
  font-size: 12px;
  text-align: left;
  color: #ffffff;
  font-family: "Light";
}



.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}


.cardImage {
  width:200px;
  height: 200px;
  margin-right: 1.5rem;
  border-radius: 1rem;
  /* background-color:rgb(0, 0, 180); */
}

.leftImage {
  margin-right: 1rem;
}

.cardText {
  width:70%;
}

.download {
  width:100%;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

p .leftAligned {
  text-align: left;
}

.cardText p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  font-family: "Light";
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {

  .gridFlex {
    display: block;
    margin-bottom: 4rem;
  }

  .Flex {
    display: block;
    flex-direction: column;
  }

  .FlexHighlight {
    width:"100%";
    display: block;
    flex-direction: column;
    padding: 1rem;
  }

  .FlexLeftDesktop {
    display: none
  }
  
  .FlexLeftMobile {
    display: block
  }

  


  .footerSeparator {
    display: none;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .titleSection {
      text-align: center;
  }

  .download {
    width:100%;
    margin-bottom: 2rem;
  }


.textDownload {
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  font-family: "Light";
}
  

}
